CairoSVG==2.5.2
decorator==4.4.2
h5py==3.8.0
ipython==7.24.1
llvmlite==0.38.1
matplotlib==3.2.2
networkx==2.5.1
numpy==1.20.1
opencv-python==4.5.1.48
pandas==1.2.4
pickleshare==0.7.5
Pillow==9.3.0
pyparsing==3.0.9
rdflib==6.0.2
rdkit==2022.9.5
requests==2.25.1
scikit-learn==0.24.2
scipy==1.7.3
seaborn==0.12.2
threadpoolctl==3.1.0
tinycss2==1.2.1
torch==1.7.1
torchsummary==1.5.1
torchvision==0.8.2
tqdm==4.51.0
traitlets==5.9.0
urllib3==1.26.14
wcwidth==0.2.6
webencodings==0.5.1
xlrd==2.0.1
